body{
    background-color: #f4fab4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #612310;
    color: white;
    text-align: center;
    display: flex;
    height: 10vh;
    justify-content: space-between ;
    margin: 2rem;
    border-radius: 10rem;
    position: relative;
    top: 1;

}
.navimg{
    display: flex;
    align-items: center;
    margin-right: 2vw;
}
.navimg > a > img{
    height: 4vh;
    margin: 0 1vw 0 1vw;
}
.navlinks{
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    align-items: center;
}
.navlinks > a{
    color: white;
    text-decoration: none;
    padding: 0.1vw;
    margin: 0vw 1vw 0vw 1vw;
    font-size: 1.1rem;
}
.right-nav{
    display: flex;
    padding: 1rem;
}
.left-nav{
    font-size: 3rem;
    text-align: center;
    margin-left: 3vw;
    margin-top: 1vh;
}
.left-nav > h1{
    display: flex;
    align-items: center;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    background-color: #f4fab4;
}
.girl > img{
    height: 70vh;
    margin-left: 5vw;
    position: fixed;
    bottom: 0;
    right: 5vw;
    transform: scaleX(-1);
}
.hero-text{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    font-size: 2rem;
    color: #1e0702;
}

.button{
    background-color: #612310;
    color: white;
    padding: 1vw;
    border-radius: 1vw;
    text-decoration: none;
    margin-top: 1vw;
    height: 3vw;
    border: none;
    margin-left: 1vw;
    font-weight: 700;
    font-size: 1rem;
}
.button:hover{
    background-color: #5f3224;
    /* color: #612310; */
}

